<!DOCTYPE html>
<html>
  <%= head() %>
  <body>

    <%= header(input_name, suite.system) %>

    <article>
      <h2>
        Comparison
        <a href="https://github.com/PragTob/benchee_html/wiki/Chart-Types#comparison">
          <i
          class="benchee-help-icon icon-question-circle-o"
          title="Comparisons of the different benchmarking jobs.
  For Iterations per Second higher is better, the black whiskers denote standard deviation. otherwise it is runtime so lower is better.
  The Box Plot shows a distribution of run times with the median and outliers."
          ></i>
        </a>
      </h2>
      <section>
        <h3>Data Table</h3>
        <table>
          <thead>
            <tr>
              <th class="text-left">Name</th>
              <th>Iterations per Second</th>
              <th>Average</th>
              <th>Deviation</th>
              <th>median</th>
              <th>minimum</th>
              <th>maximum</th>
              <th>Sample size</th>
            </tr>
          </thead>
          <tbody>
            <%= for {name, statistics} <- suite.statistics do %>
              <tr>
                <td class="text-left"><a href="#<%= name %>"><%= name %></a></td>
                <td><%= format_count statistics.ips %></td>
                <td><%= format_duration statistics.average %></td>
                <td><%= format_percent statistics.std_dev_ratio %></td>
                <td><%= format_duration statistics.median %></td>
                <td><%= format_duration statistics.minimum %></td>
                <td><%= format_duration statistics.maximum %></td>
                <td><%= statistics.sample_size %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </section>

      <section class="benchee-plot-container">
        <div id="ips-comparison" class="<%= max_width_class(suite.job_count) %> plot"></div>
      </section>

      <section class="benchee-plot-container">
        <div id="box-plot" class="<%= max_width_class(suite.job_count) %> plot"></div>
      </section>
    </article>

    <%= js_includes() %>

    <script>
      var suite      = <%= suite_json %>;
      var runTimes   = suite.run_times;
      var statistics = suite.statistics;
      var sortOrder  = suite.sort_order;

      var inputHeadline = "<%= input_headline(input_name) %>"

      drawIpsComparisonChart(statistics, sortOrder, inputHeadline);
      drawComparisonBoxPlot(runTimes, sortOrder, inputHeadline);
    </script>
  </body>
</html>
