<!DOCTYPE html>
<html>
  <%= head() %>
  <body>

    <div class="header">
      <h1>benchee report index</h1>
      <%= version_note(system) %>
    </div>
    
    <%= render_system_info(system, visible: true) %>
    
    <article>
      <%= for {input_name, paths} <- names_to_paths do %>
        <section>
          <%= input_label(input_name) %>
          <ul>
            <%= for path <- paths do %>
              <li><a href="<%= path %>"> <%= path %> </a></li>
            <% end %>
          </ul>
        </section>

      <% end %>

    </article>

    <%= js_includes() %>
  </body>
</html>
