<!DOCTYPE html>
<html>
  <%= head() %>
  <body>

    <article>
      <%= for input <- names_to_paths do %>
        <%= for {tags, _} <- input do %>
          <section>
            <%= header(Enum.join(tags, " "), system) %>
          </section>
        <% end %>
      <% end %>

    </article>
  </body>
</html>
