<!DOCTYPE html>
<html>
  <%= head() %>
  <body>

    <%= header(input_name, system) %>

    <article>
      <h2>
        <a name="<%= job_name %>"></a>
        <%= job_name %>
        <a href="https://github.com/PragTob/benchee_html/wiki/Chart-Types#individual">
          <i
            class="benchee-help-icon icon-question-circle-o"
            title="Graphs showing the individual run time distribution for <%= job_name %>.
Run Times Histpgram shows the distribution of occurences of specific run times in buckets.
Raw Run Times shows all individual recorded run times in the order they were recorded in."
          ></i>
        </a>
      </h2>

      <section>
        <%= render_data_table(%{job_name => %{run_time_statistics: job_statistics}}, units) %>
      </section>

      <section class="benchee-plot-container">
        <div id="sorted-run-times" class="plot" data-job-name="<%= job_name %>"></div>
      </section>
      <section class="benchee-plot-container">
        <div id="raw-run-times" class="plot" data-job-name="<%= job_name %>"></div>
      </section>
    </article>

    <%= js_includes() %>

    <script>
      var measurements = <%= job_json %>;
      var runTimes     = measurements.run_times;
      var statistics   = measurements.statistics;

      var inputHeadline = "<%= input_headline(input_name) %>"

      drawRawRunTimeCharts(runTimes, inputHeadline, statistics);
      drawRunTimeHistograms(runTimes, inputHeadline);
    </script>
  </body>
</html>
