<!DOCTYPE html>
<html>
  <head>
    <title>Benchee Report</title>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/benchee.css">
  </head>
  <body>

    <div class="header">
      <h1>benchee report</h1>
      <span class="version-note">Elixir <%= suite.system.elixir%>, Erlang <%= suite.system.erlang %></span>
    </div>

    <article>
      <h2>Comparison</h2>
      <section>
        <h3>Data Table</h3>
        <table>
          <thead>
            <tr>
              <th class="text-left">Name</th>
              <th>Iterations per Second</th>
              <th>Average</th>
              <th>Deviation</th>
              <th>median</th>
              <th>minimum</th>
              <th>maximum</th>
              <th>Sample size</th>
            </tr>
          </thead>
          <tbody>
            <%= for {name, statistics} <- suite.statistics do %>
              <tr>
                <td class="text-left"><a href="#<%= name %>"><%= name %></a></td>
                <td><%= format_count statistics.ips %></td>
                <td><%= format_duration statistics.average %></td>
                <td><%= format_percent statistics.std_dev_ratio %></td>
                <td><%= format_duration statistics.median %></td>
                <td><%= statistics.minimum %></td>
                <td><%= statistics.maximum %></td>
                <td><%= statistics.sample_size %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </section>

      <section class="benchee-plot-container">
        <div id="ips-comparison" class="<%= max_width_class(suite.job_count) %> plot"></div>
      </section>

      <section class="benchee-plot-container">
        <div id="box-plot" class="<%= max_width_class(suite.job_count) %> plot"></div>
      </section>
    </article>

    <%= for {name, _} <- suite.run_times do %>
      <article>
        <h2><a name="<%= name %>"></a><%= name %></h2>
        <section class="benchee-plot-container">
          <div class="sorted-run-times plot" data-job-name="<%= name %>"></div>
        </section>
        <section class="benchee-plot-container">
          <div class="raw-run-times plot" data-job-name="<%= name %>"></div>
        </section>
      </article>
    <% end %>

    <script src="assets/javascripts/plotly-1.20.5.min.js"></script>
    <script src="assets/javascripts/benchee.js"></script>

    <script>
      var suite = <%= suite_json %>;
      var runTimes = suite.run_times;
      var statistics = suite.statistics;

      drawIpsComparisonChart(statistics);
      drawComparisonBoxPlot(runTimes);
      drawRawRunTimeCharts(runTimes);
      drawRunTimeHistograms(runTimes);
    </script>
  </body>
</html>
