<head>
  <title>Benchee Report</title>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=utf8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="assets/stylesheets/benchee.css">
  <link rel="stylesheet" type="text/css" href="assets/fontello/css/fontello.css">
</head>
