<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf8">
    <script src="assets/javascripts/plotly-latest.min.js"></script>
  </head>
  <body>
    <%= for {name, _} <- suite.run_times do %>
      <canvas class="raw-run-times" data-job-name="<%= name %>"></canvas>
    <% end %>

    <script>
      drawRunTimesChart = function(canvas, runTimeData) {
        var myChart = new Chart(canvas, {
          type: 'bar',
          data: {
            labels: runTimeData.map(function(_) {return "";}),
            datasets: [{
                label:       'run time',
                data:        runTimeData,
                borderWidth: 1
            }]
          },
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true
                }
              }]
            }
          }
        });
      };

      var suite = <%= suite_json %>;
      var runTimes = suite.run_times;
      var statistics = suite.statistics;
      runTimeNodes = document.getElementsByClassName("raw-run-times");
      runTimesNodesArray = Array.from(runTimeNodes); // Oh JavaScript
      runTimesNodesArray.forEach(function(node) {
        var runTimeData = runTimes[node.getAttribute("data-job-name")];
        drawRunTimesChart(node, runTimeData);
      });

    </script>
  </body>
</html>
