<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf8">
    <script src="assets/javascripts/plotly-latest.min.js"></script>
  </head>
  <body>

    <div id="ips-comparison"></div>

    <%= for {name, _} <- suite.run_times do %>
      <div class="raw-run-times" data-job-name="<%= name %>"></div>
    <% end %>

    <script>
      var drawRunTimesChart = function(node, runTimeData) {

        var data = [
          {
            y: runTimeData,
            type: 'bar'
          }
        ];

        Plotly.newPlot(node, data);
      };

      var drawIPSComparisonChart = function(node, statistics) {
        var names = [];
        var ips = [];
        for (var name in statistics) {
          if (statistics.hasOwnProperty(name)) {
            names.push(name);
            ips.push(statistics[name]['ips']);
          }
        }

        var data = [
          {
            x: names,
            y: ips,
            type: 'bar'
          }
        ];

        Plotly.newPlot(node, data);
      };

      var suite = <%= suite_json %>;
      var runTimes = suite.run_times;
      var statistics = suite.statistics;

      ipsNode = document.getElementById("ips-comparison");
      drawIPSComparisonChart(ipsNode, statistics);

      runTimeNodes = document.getElementsByClassName("raw-run-times");
      runTimesNodesArray = Array.from(runTimeNodes); // Oh JavaScript
      runTimesNodesArray.forEach(function(node) {
        var runTimeData = runTimes[node.getAttribute("data-job-name")];
        drawRunTimesChart(node, runTimeData);
      });

    </script>
  </body>
</html>
